<div class="card-reader">
  <img src="assets/logo.png">
  <h4>
    {{title}}
  </h4> 
  <div>
    <h5>Type coordenates with de format A1B1C1 and you will get the result from your card:</h5>
    <div>
      <input type="text" [(ngModel)]="coordenates" (keyup)="getKeys()" maxlength="6" placeholder="Enter coordenates here">
    </div>
    <hr>
    <h2 ng-if="result">{{result}}</h2>
  </div>
  <div>
    <button type="button" (click)="showCard()">{{cardText}} </button>
  </div>
  <div *ngIf="displayCard">
    <table>
      <thead>
        <th>#</th>
        <th>{{items[0][1]}}</th>
        <th>{{items[0][2]}}</th>
        <th>{{items[0][3]}}</th>
        <th>{{items[0][4]}}</th>
        <th>{{items[0][5]}}</th>
        <th>{{items[0][6]}}</th>
        <th>{{items[0][7]}}</th>
        <th>{{items[0][8]}}</th>
        <th>{{items[0][9]}}</th>
        <th>{{items[0][10]}}</th>
        <th>{{items[0][11]}}</th>
        <th>{{items[0][12]}}</th>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>{{items[1][1]}}</td>
          <td>{{items[1][2]}}</td>
          <td>{{items[1][3]}}</td>
          <td>{{items[1][4]}}</td>
          <td>{{items[1][5]}}</td>
          <td>{{items[1][6]}}</td>
          <td>{{items[1][7]}}</td>
          <td>{{items[1][8]}}</td>
          <td>{{items[1][9]}}</td>
          <td>{{items[1][10]}}</td>
          <td>{{items[1][11]}}</td>
          <td>{{items[1][12]}}</td>
        </tr>
        <tr>
          <td>2</td>
          <td>{{items[2][1]}}</td>
          <td>{{items[2][2]}}</td>
          <td>{{items[2][3]}}</td>
          <td>{{items[2][4]}}</td>
          <td>{{items[2][5]}}</td>
          <td>{{items[2][6]}}</td>
          <td>{{items[2][7]}}</td>
          <td>{{items[2][8]}}</td>
          <td>{{items[2][9]}}</td>
          <td>{{items[2][10]}}</td>
          <td>{{items[2][11]}}</td>
          <td>{{items[2][12]}}</td>
        </tr>
        <tr>
          <td>3</td>
          <td>{{items[3][1]}}</td>
          <td>{{items[3][2]}}</td>
          <td>{{items[3][3]}}</td>
          <td>{{items[3][4]}}</td>
          <td>{{items[3][5]}}</td>
          <td>{{items[3][6]}}</td>
          <td>{{items[3][7]}}</td>
          <td>{{items[3][8]}}</td>
          <td>{{items[3][9]}}</td>
          <td>{{items[3][10]}}</td>
          <td>{{items[3][11]}}</td>
          <td>{{items[3][12]}}</td>
        </tr>

        <tr>
          <td>4</td>
          <td>{{items[4][1]}}</td>
          <td>{{items[4][2]}}</td>
          <td>{{items[4][3]}}</td>
          <td>{{items[4][4]}}</td>
          <td>{{items[4][5]}}</td>
          <td>{{items[4][6]}}</td>
          <td>{{items[4][7]}}</td>
          <td>{{items[4][8]}}</td>
          <td>{{items[4][9]}}</td>
          <td>{{items[4][10]}}</td>
          <td>{{items[4][11]}}</td>
          <td>{{items[4][12]}}</td>
        </tr>

        <tr>
          <td>5</td>
          <td>{{items[5][1]}}</td>
          <td>{{items[5][2]}}</td>
          <td>{{items[5][3]}}</td>
          <td>{{items[5][4]}}</td>
          <td>{{items[5][5]}}</td>
          <td>{{items[5][6]}}</td>
          <td>{{items[5][7]}}</td>
          <td>{{items[5][8]}}</td>
          <td>{{items[5][9]}}</td>
          <td>{{items[5][10]}}</td>
          <td>{{items[5][11]}}</td>
          <td>{{items[5][12]}}</td>
        </tr>

        <tr>
          <td>6</td>
          <td>{{items[6][1]}}</td>
          <td>{{items[6][2]}}</td>
          <td>{{items[6][3]}}</td>
          <td>{{items[6][4]}}</td>
          <td>{{items[6][5]}}</td>
          <td>{{items[6][6]}}</td>
          <td>{{items[6][7]}}</td>
          <td>{{items[6][8]}}</td>
          <td>{{items[6][9]}}</td>
          <td>{{items[6][10]}}</td>
          <td>{{items[6][11]}}</td>
          <td>{{items[6][12]}}</td>
        </tr>
        <tr>
          <td>7</td>
          <td>{{items[7][1]}}</td>
          <td>{{items[7][2]}}</td>
          <td>{{items[7][3]}}</td>
          <td>{{items[7][4]}}</td>
          <td>{{items[7][5]}}</td>
          <td>{{items[7][6]}}</td>
          <td>{{items[7][7]}}</td>
          <td>{{items[7][8]}}</td>
          <td>{{items[7][9]}}</td>
          <td>{{items[7][10]}}</td>
          <td>{{items[7][11]}}</td>
          <td>{{items[7][12]}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>